.mn_image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}

.prnt_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;


    .heading_text {
        h2 {
            color: black;
            font-size: 30px;
            font-weight: bold;
            text-align: center;
        }
    }

    .image_container {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 60px;
        width: 80%;
        margin: 0% auto;
        margin-left: 10%;
    }


    .image_styling {
        width: 18%;
        position: relative;
        overflow: hidden;
    }

    .img_txt {
        position: absolute;
        bottom: 12px;
        right: 12px;
        letter-spacing: 2px;
        z-index: 2;
        color: #fff;
        font-weight: 600;
    }

    .collection_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.4s ease, filter 0.4s ease;


        &:hover {
            filter: brightness(0.7);
            transform: scale(1.1);
        }
    }


    @media (max-width:768px) {
        .image_styling {
            width: 40%;
        }

        .img_txt {
            font-size: 10px;
        }
    }
}

@media (max-width: 1024px) {
    .prnt_div {
        padding: 40px 20px;

        .heading_text h2 {
            font-size: 26px;
        }

        .image_container {
            margin-top: 40px;
            display: flex;
            justify-content: center;
        }
    }
}

.mn_image {
    width: 100%;
    height: 45vh;
    object-fit: cover;
}


.filter_sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 10%;
}

.array_products {
    color: black;
    font-size: 18px;
}

.select_wrapper select {
    width: 240px;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #d1d0d0;
    background: white;
    cursor: pointer;
    color: black;
}

.cart_sec_main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 75px;
    flex-wrap: wrap;
}

.crazydeal_parnt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    row-gap: 40px;
}

.crazydea2_parnt {
    display: flex;
    gap: 25px;
    width: 100%;
    justify-content: center;
}

.deals_sec {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: 30px 0px 50px 0px;
}

.heading_txt {
    font-size: 30px;
    font-weight: bold;
    color: black;
}

.view_btn {
    button {
        background-color: black;
        color: white;
        padding: 10px 25px 10px 25px;
        cursor: pointer;
        transition: 300ms;
        font-weight: bold;
        letter-spacing: 3px;
    }

    button:hover {
        background-color: #141515;
    }
}

.carts_prnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.5%;
    cursor: pointer;

    .cart_image {
        position: relative;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .sale_tag {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: #1c1d1d;
        padding: 5px 10px;
        font-weight: bold;
        color: white;
        font-size: 12px;
    }

    .pricing_sec {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
            font-size: 16px;
            text-align: center;
            letter-spacing: 1px;
            padding-top: 18px;
            color: black;
            height: 60px;
            line-height: 20px;
        }
    }

    .rs_sec {
        display: flex;
        gap: 12px;
        align-items: center;
    }

    .span1_prnt {
        display: flex;
        gap: 10px;
        padding: 5px;
    }

    .orignal_price {
        font-size: 16px;
        text-decoration: line-through;
        color: #474747;
    }

    .aftrsale_price {
        font-size: 16px;
        color: #6f6f6f;
    }

    .saving_price {
        font-size: 16px;
        color: #c20000;
    }

    .cart_btn {
        background-color: black;
        padding: 6px;
        width: 100%;
        border-radius: 5px;
        margin-top: 15px;
        cursor: pointer;
        color: white;
        border: none;
    }
}

@media (max-width: 768px) {
    .filter_sec {
        width: 336px;
        gap: 41px;
        margin: 0 auto;
    }

    .select_wrapper select {
        width: 100%;
    }

    .cart_sec_main {
        width: 80%;
        margin: 10% auto;
    }

    .crazydeal_parnt {
        width: 100%;
        gap: 35px;
    }

    .carts_prnt {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cart_image img {
        width: 100%;
        height: auto;
    }

    .addtocart_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart_btn {
        width: 90%;
        box-sizing: border-box;
    }

    .view_btn {
        button {
            display: none;
        }
    }
}

@media (min-width: 769px) {

    .rs_sec {
        gap: 6px;
    }

    .span1_prnt {
        gap: 8px;
        padding: 4px 0;
    }

    .orignal_price {
        font-size: 14px;
    }

    .aftrsale_price {
        font-size: 15px;
        font-weight: 600;
    }

    .saving_price {
        font-size: 13px;
    }

    .addtocart_btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .cart_btn {
        width: 100%;
        padding: 10px 0;
        font-size: 14px;
        margin-top: 12px;

    }
}

@media (max-width: 830px) and (max-width: 769px) {

    .carts_prnt {
        .pricing_sec {
            padding: 12px 0;

            h3 {
                text-align: center;
                align-items: center;
                font-size: 11px;
            }
        }
    }

    .crazydeal_parnt {
        flex-wrap: wrap;
    }

    .carts_prnt {
        width: 21%;

        h3 {
            font-size: 9px;
        }
    }

    .cart_btn {
        max-width: 230px;
        width: 100%;
    }
}

.crazydeal_parnt {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
    row-gap: 40px;
}

.carts_prnt {
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768) {
    .carts_prnt {
        width: 100%;
    }
}

.filter_btn {
    display: flex;
    gap: 15px;
    margin-top: 3%;
    margin-left: 11%;

    h1 {
        color: black;
        font-weight: bold;
        padding: 10px;
    }

    button {
        padding: 10px;
        color: white;
        background-color: #c45f5f;
        cursor: pointer;
    }
}