.shipping {
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 10px;

    p {
        font-weight: bold;
        font-size: 15px;
        letter-spacing: 2px;
    }
}

.nav_links {
    color: rgb(28, 28, 28);
    letter-spacing: 2px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color 0.5s ease;
}

.nav_links:hover {
    border-bottom: 1px solid rgb(28, 28, 28);
}

.logo_img {
    background-image: url('https://elyscents.pk/cdn/shop/files/logo_size.png?v=1703577106&width=320');
    width: 160px;
    height: 69px;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
}

.nav_bar {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;


}

.main_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_rght_main {
    display: flex;
    padding: 25px;
}

.nav_right {
    display: flex;
    color: rgb(27, 27, 27);
    font-size: 27px;
    font-weight: normal;
    cursor: pointer;
    padding: 5px;
}

.nav_right_person {
    display: flex;
    color: rgb(27, 27, 27);
    font-size: 27px;
    font-weight: normal;
    cursor: pointer;
    padding: 5px;
}

.nav_left {
    color: rgb(27, 27, 27);
    font-size: 27px;
    cursor: pointer;
    padding: 25px;
}

.nav_pages {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;

}

.menu_icon {
    display: none;
}

.nav_right_srchbar {
    display: none;
}

.drawer_text {
    font-size: 14px;
    letter-spacing: 4px;
    padding: 20px;
    cursor: pointer;
}

.close_icon {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 16px 16px;
    color: grey;
}

.close_icon_mn {
    font-size: 24px;
    cursor: pointer;
}

.login_sec {
    padding: 22px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(61, 61, 61);
}

.social_icon_cont {
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    width: 290px;
    flex-wrap: wrap;
}

.icons_style {
    border: 1px solid #e5e5e5;
    width: 90px;
    height: 55;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18;
    cursor: pointer;
}

.cart_drawer {
    padding: 20px;

    h2 {
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
        font-size: 25px;
        border-bottom: 1px solid rgb(192, 192, 192);
    }
}

.dropdown {
    position: relative;
}

.dropdown_toggle {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}


.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 240px;
    background: #fff;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
    padding: 12px 0;
    list-style: none;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 99;

    li {
        padding: 10px 20px;

        a {
            color: #000;
            text-decoration: none;
            font-size: 14px;
            display: block;
        }

        &:hover {
            background: #f5f5f5;
        }
    }
}


.dropdown:hover .dropdown_menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


@media (max-width: 768px) {
    .dropdown_menu {
        position: static;
        width: 100%;
        box-shadow: none;
        border-top: none;
        padding: 0;
    }
}

@media (max-width:768px) {
    .shipping {
        p {
            font-size: 11px;
        }
    }
}

@media (max-width:413px) {
    .shipping {
        p {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 290px;
            align-items: center;
        }
    }
}


@media (max-width:413px) {
    .logo_img {
        width: 120px;
        height: 69px;
    }
}


@media (max-width: 830px) {

    .nav_right svg,
    .nav_left svg {
        font-size: 25px;
    }

    .nav_right {
        gap: 8px;
    }

}

@media (max-width:830px) {
    .nav_links {
        font-size: 15px;
        letter-spacing: normal;
    }
}

@media (max-width: 768px) {
    .nav_pages {
        display: none;
    }

    .nav_left {
        display: none;
    }

    .menu_icon {

        display: block;
        font-size: 26px;
        cursor: pointer;
        padding: 25px;
        color: rgb(108, 108, 108);
    }

    .nav_right_srchbar {
        display: block;
    }

    .nav_right_person {
        display: none;
    }

    .nav_right_srchbar {
        color: rgb(27, 27, 27);
        font-size: 27px;
        cursor: pointer;
        padding: 5px;
    }

    .nav_right {
        padding: 5px;
    }
}