.login_card {
    background-color: #FFFFFF;
    width: 90%;
    max-width: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;
    margin: 0% auto;
    margin-top: 10%;
    overflow-x: hidden;

    .image {
        display: flex;
        justify-content: center;
    }

    .elyscents_logo {
        width: 138px;
    }

    .signin_txt {
        display: flex;
        flex-direction: column;
        gap: 7px;
        margin-left: 7px;

        h2 {
            color: black;
            font-weight: bold;
            font-size: 20px;

        }

        p {
            color: grey;
            letter-spacing: 1px;
            font-size: 14px;
        }
    }

    .sign_btn {
        display: flex;
        justify-content: center;

        .shop_btn {
            background-color: #4d26fe;
            border-radius: 10px;
            font-weight: bold;
            width: 372px;
            height: 54px;
            transition: 300ms;
        }

        .shop_btn:hover {
            background-color: #4524DB;
            cursor: pointer;
        }
    }

    .divider {
        display: flex;
        align-items: center;
        width: 100%;
        margin: 20px 0;
    }


    .line {
        height: 1px;
        background-color: #a6a6a6;
        flex-grow: 1;
    }


    .text {
        padding: 0 15px;
        color: #484848;
        font-size: 18px;
    }

    .mail_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #484848;
    }

    .input_bar {
        border: 1px solid #c5c4c4;
        border-radius: 5px;
        height: 50px;
        padding: 5px;
    }

    .continue_btn {
        border: 1px solid #c5c4c4;
        border-radius: 5px;
        height: 50px;
        padding: 5px;
        font-weight: bold;
        color: #979797;
        cursor: pointer;
         transition: 300ms;
    }
    .continue_btn:hover{
        background-color: black
        ;
        color: #FFFFFF;
        border: none;
       
    }
}

@media screen and (max-width: 480px) {
    .login_card {
        margin-top: 27%;
        padding: 20px;
        gap: 15px;
    }

    .login_card .signin_txt h2 {
        font-size: 18px;
    }

    .login_card .text {
        font-size: 16px;
    }

    .login_card .input_bar,
    .login_card .continue_btn {
        height: 45px;
    }
}